footer{
    background-color: black;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dsmovie-footer-sobre{
    background-color: rgba(255, 255, 255, 0.076);
    border-radius: 10px;
    text-align: center;
    margin: 8px 0 0 0;
    position: relative;
    color: white;
    width: 80%;
    height: 90%;
}

.dsmovie-footer-sobre div{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.dsmovie-footer-sobre h1{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.dsmovie-footer-sobre p{
    text-align: justify ;
    text-align: center;
    font-size: 16px;
}