@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
  --color-segund: #000000;
  --color-three: rgba(0, 0, 0, 0.919);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #ffffff;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

